@page "/login"
@attribute [AllowAnonymous]
@using ClientBooking.Authentication
@using ClientBooking.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager NavigationManager
@inject ISessionStateManager SessionStateManager

<CascadingValue Value="ValidationErrors">
  <EditForm EditContext="_editContext" hx-post="/login" hx-swap="outerHTML" id="login"
            class="font-[sans-serif] max-w-6xl max-lg:max-w-3xl mx-auto my-12 mb-24 bg-white shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded p-8">
    <h2 class="text-3xl text-gray-800 font-extrabold text-center mb-12">Enter your username and password.</h2>

    <div class="grid lg:grid-cols-1 px-4 place-items-center gap-12">
      <div class="space-y-3 text-gray-800">
        
        <InputText @bind-Value="LoginRequest.Email"
                   type="email"
                   id="email"
                   class="w-24 bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                   placeholder="Email"/>
        <FluentValidationMessage TModel="LoginRequest" For="@(x => x.Email)" />
        
        <InputText @bind-Value="LoginRequest.Password"
                   id="passwordOne"
                   type="password"
                   class="w-full bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                   placeholder="Password"/>
        <FluentValidationMessage TModel="LoginRequest" For="@(x => x.Password)" />
        
        <div class="flex items-center gap-3">
          <div class="relative flex items-center">
            <InputCheckbox @bind-Value="LoginRequest.RememberMe"
                           id="rememberMe"
                           class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" />
          </div>
          <label for="rememberMe" class="text-sm text-gray-800 cursor-pointer">Remember me on this device</label>
        </div>

        @if (ErrorMessage != null)
        {
          <div class="w-full max-w-3xl validation-message">
            <div>@ErrorMessage</div>
          </div>
        }

        <div class="max-w-3xl">
          <button type="submit" class="block mx-auto text-white bg-blue-600 hover:bg-blue-700 rounded text-sm px-6 py-3 mt-6">
            Log in
          </button>

          <a href="register" class="block text-center text-blue-600 rounded text-sm px-6 py-3 mt-4">
            Sign up here
          </a>
        </div>
      </div>
    </div>
  </EditForm>
</CascadingValue>



@code {
    [Parameter] public LoginRequest LoginRequest { get; set; } = new();
    [Parameter] public Dictionary<string, string[]>? ValidationErrors { get; set; } = new();
    [Parameter] public string? ErrorMessage { get; set; }

    private EditContext? _editContext;

    protected override void OnInitialized()
    {
        //If the user is already logged in, redirect away from the login page for positive UX.
        if (SessionStateManager.IsAuthenticated())
        {
            NavigationManager.NavigateTo("/", replace: true);
            return;
        }
        
        _editContext = new EditContext(LoginRequest);
    }
}