<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["styles.css"]"/>
    <script type="text/javascript" src="@Assets["htmx.min.js"]"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <title>Client Booking</title>
    <HeadOutlet/>
   
</head>

    <body>
      <Routes/>
    </body>

</html>