@using ClientBooking.Components.Generic
@inherits LayoutComponentBase

<div class="min-h-screen bg-gray-50">
   
    <HeaderComponent />

    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        @Body
    </main>
</div>